@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@keyframes modal {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes shadow {
    from {opacity: 0;}
    to {opacity: 0.3;}
}

body {
    font-family: 'Montserrat';
}

/* SCALE BUTTON */

.nav-insta:hover, 
.nav-fb:hover,
.button-down:hover {
    transition: 0.2s;    
    transform: scale(1.2);
}

/* ------------------------------------ */

p, h1, h2, h3 {
    color: #2B3541;
    padding: 0;
    margin: 0;  
}

h3 {
    font-size: 40px;
    font-weight: 700;
}

a {
    color: #2B3541;
}

.container {
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 44px 0px 22px;
}

.header-item a {
    text-decoration: none;
    color: #2B3541;
}

.header-logo {
    display: block;
    width: 97px;
    height: 30px;
    background-image: url(../logo.svg);
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 67.6%;   
    margin: 0;
}

.header-links {   
    display: flex;    
    align-items: center;
    list-style-type: none;    
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    gap: 54px;    
    margin: 0;
    line-height: 2.5;
}

.header-links a:hover {
    display: inline-block;
    line-height: 2;
    border-bottom: 1px #2B3541 solid;
}

.nav-social {
    display: flex;    
    list-style-type: none;
    gap: 30px;    
    margin: 0;    
    padding: 0;
}

.nav-social a {
    display: block;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
}

.nav-insta {    
    background-image: url(../icons/IN.svg);    
}

.nav-fb {
    background-image: url(../icons/FB.svg);
}

.bg {
    margin-bottom: 140px;
}

.bg > .container {
    display: flex;
}

.bg-text {
    max-width: 676px;    
    padding-top: 225px;
    color: #2B3541;
    z-index: 1;    
    position: relative;
}

.bg-text-title {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 1.5px;
    margin-bottom: 44px;
}

.bg-text h2 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 23px;
}

.bg-text h2 > span {
    padding-right: 10px
}

.bg-description {
    width: 297px;    
    margin-left: 91px;
}

.bg-description p {    
    font-size: 18px;
    font-weight: 400; 
    line-height: 1.5;      
    margin-bottom: 58px;
}

.bg-button {
    color: #2B3541;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #FBF138;
    padding: 23px 29px;
    padding-bottom: 22px;
    letter-spacing: 0.5px;
    box-shadow: 0px 11px 28px -15px #fbf138;
    cursor: pointer;
}

.bg-button:hover {
    color: #FBF138;
    background-color: #2B3541;
    box-shadow: 0px 11px 28px -15px #2B3541;
}

.button-down {
    width: 52px;
    height: 55px;
    position: absolute;
    background-image: url(../icons/Arrow.svg);
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0px;
    cursor: pointer;
}

.visual {
    position: relative;
    width: 790px;
    height: 850px;
    right: -75px;
    top: 0px;
}

.visual img {
    position: absolute;
    top: 39px;
    right: -97px;
}

.visual-bg {
    position: absolute;
    display: flex;
    justify-content: space-between;    
    gap: 20px;
    right: 0;
}

.visual-bg-1 {
    height: 850px;
    width: 535px;
    background: linear-gradient(90deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 145.23%);
    opacity: 0.2;
}

.visual-bg-2 {
    height: 850px;
    width: 235px;
    background: linear-gradient(90deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 145.23%);
    opacity: 0.2;
}

.edvents-title {    
    margin-bottom: 42px;
    padding-top: 22px;
}

.edvents-box {
    display: flex;
    height: 600px;
    justify-content: space-between;
    margin-bottom: 158px;
}

.box-item {
    position: relative;
    width: 367px;
    height: 100%;
}

.item-gradient {
    position: absolute;
    background: linear-gradient(180deg, rgba(251, 241, 56, 0.3) 0%, rgba(253, 249, 182, 0) 100%);
}

.item-gradient:hover {
    background: linear-gradient(180deg, rgba(251, 241, 56, 0.6) 0%, rgba(253, 249, 182, 0) 100%);    
}

.box-text > a {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: #FBF138;
    background-color: #2B3541;
    box-shadow: 0px 11px 28px -15px #2B3541;
    padding: 20px 37px;
    opacity: 0;
    transition: 0.7s;
    cursor: pointer;
}

.item-1:hover .box-text > a,
.item-2:hover .box-text > a,
.item-3:hover .box-text > a {
    opacity: 1;
}

.item-1 {
    background-image: url(../files/@1x/maraphon.png);
    background-size: cover;
}

.item-2 {
    background-image: url(../files/@1x/Vebinar\ 1.png);
    background-size: cover;
}

.item-3 {
    background-image: url(../files/@1x/Vebinar\ 2.png);
    background-size: cover;
}

.box-text {
    width: 260px;
    font-weight: 700;   
    margin-left: 30px;    
    line-height: 1.2;
}

.box-text span {
    display: block;    
    font-size: 18px;
    margin-top: 35px;
    margin-bottom: 22px;
    opacity: 0.6;
}

.box-text-title {
    font-size: 28px;
    margin-bottom: 60px;
}

.edvents-name {
    position: absolute;
    background-color: #fbf138;
    font-size: 18px;
    font-weight: 400;
    padding: 13px 20px;
    bottom: 0px;
    right: 0px;
}

.item-1 > .edvents-name {
    bottom: 2px;
}

.schedule-box {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 35px;
}

.schedule-box h3 {
    line-height: 1.3;
    width: 356px;
}

.schedule-box p {
    font-weight: 700;
    font-size: 28px;
}

.schedule-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px 39px 73px 281px;
    gap: 20px;
    margin-bottom: 160px;
}

.schedule-grid-item {
    border: 1px solid rgba(43, 53, 65, 0.5);    
    padding: 20px 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: hidden;
}

.schedule-grid-item time {
    display: block;
    color: #010101;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.7;
}

.schedule-grid-item:hover {
    background: rgba(243, 243, 243, 0.5);
    box-shadow: 0px 4px 30px rgba(43, 53, 65, 0.2);
    border: 1px solid rgba(43, 53, 65, 0);  
}

.schedule-grid-item:hover .training-description {
    opacity: 1;
    max-height: 100px;
    transition: .7s;
}

.schedule-grid-item:hover .training-title {
    margin-bottom: 23px;
}

.schedule-grid-item:nth-child(1):hover .training-box img,
.schedule-grid-item:nth-child(5):hover .training-box img {
    margin-bottom: 15px;
    transition: 1s;
}

.training-box img {
    margin-bottom: 37px;
}

.training-title {
    display: block;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0px; /*23*/
}

.training-description {
    opacity: 0;
    max-height: 0;
    max-width: 306px;   
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

.grid-item-1 {
    grid-row: span 1;
}

.grid-item-2 {
    grid-row: span 3;
}

.grid-item-3 {
    grid-row: span 2;
}

.grid-item-4 {
    grid-row: span 3;
}

.item-active {    
    background: linear-gradient(180deg, rgba(251, 241, 56, 0.6) 0%, rgba(253, 249, 182, 0.45) 100%);
    border: none;
}

.item-active time {
    color: #2B3541;
}

.grid-item-5 {
    grid-row: span 1;
}

.grid-item-6 {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 3;
}

.item-active:hover {
    background: linear-gradient(180deg, rgba(251, 241, 56, 0.6) 0%, rgba(253, 249, 182, 0.45) 100%);
    box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
    border: none;
}

.subscribe-bg {
    width: 100%;
    height: 348px;
    margin-bottom: 162px;
    background-color: #F3F3F3;
}

.subscribe-box {
    max-width: 617px;
    margin: 0 auto;
    position: relative;
    padding-left: 15px;
    padding-top: 2px;
}

.subscribe-box-title {
    position: relative;
    z-index: 1;
    padding-top: 80px;
    margin-bottom: 20px;
    padding-left: 9px;
}

.subscribe-box-title::before {
    content: '';
    position: absolute;
    top: 60px;
    left: -27px;
    background-color: #fbf138;
    box-shadow: 0px 13px 24px rgb(251 241 56 / 30%);
    padding: 27px;
    border-radius: 30px;
    z-index: -1;
}

.subscribe-box-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 13px;
}

.subscribe-btn {
    border: none;
    padding: 24px 42px;
}

.input-email-sub {
    padding: 23px 140px;
    padding-left: 23px;
    letter-spacing: 1.2px;
    border: none;    
}

::-moz-placeholder { 
    color: #2B3541;
    opacity: .3; }
::-webkit-input-placeholder {
    color: #2B3541;
    opacity: .3; }

.personal-data {
    opacity: 0.5;
}

.personal-data:hover, .copyright > p > a:hover {
    opacity: 1;
}

.custom-checkbox {
    display: block;
	cursor: pointer;
	user-select: none;
	position: relative;
}

.custom-checkbox input[type=checkbox] {
    position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
}

.subscribe-box-checkbox-text {
    color: rgba(43, 53, 65, 0.5);
    font-size: 11px;
    font-weight: 400;
    position: relative;    
    padding-left: 23px;
    line-height: 1.7;
}

.subscribe-box-checkbox-text::before {
    content: '';
    position: absolute;
    width: 18px;
	height: 18px;
    top: 0;
    left: 0;
    transition: 0.3s;
    background: url(../icons/check\ box\ empty.svg) 0 0 no-repeat;
}

.custom-checkbox input[type=checkbox]:checked 
+ .subscribe-box-checkbox-text::before {
    background-image: url(../icons/check_box.svg);
}

.info-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
}

.info-text {
    width: 483px;
}

.info-title {
    margin-bottom: 22px;
}

.info-description {
    font-size: 18px;
    margin-bottom: 57px;
    line-height: 1.5;
}

.info-btn {
    padding: 23px 50px;
}

.info-img {
    position: relative;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.info-img-bg {
    position: absolute;
    width: 580px;
    height: 336px;
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 100%);
    opacity: 0.3;
}

.advantages-box {
    display: flex;
    justify-content: space-between;
    gap: 67px;
    margin-bottom: 170px;
}

.advantages-item:first-child {
    flex-basis: 24.5%;
}

.advantages-item:nth-child(2) {
    flex-basis: 30%;
}

.advantages-item:nth-child(3) {
    flex-basis: 23%;
}

.advantages-item:last-child {
    flex-basis: 21.5%;
}

.advantages-title {
    display: block;
    color: #2B3541;
    margin-bottom: 22px;
    font-size: 18px;
    font-weight: 700;
}

.advantages-description {
    font-size: 18px;
    font-weight: 400;
    color: #2B3541;
    opacity: 0.6;
    line-height: 1.5
}

.footer {
    width: 100%;
    background-color: #F3F3F3;    
}

.footer-item {
    padding: 50px 0px 20px;
}

.footer-links {
    display: flex;    
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    gap: 90px;
    line-height: 2.5;
}

.footer-links a:hover {
    display: inline-block;
    line-height: 2;
    border-bottom: 1px #2B3541 solid;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 53%;   
    margin: 0;
}

.footer-nav-social {
    display: flex;    
    list-style-type: none;
    gap: 30px;    
    margin: 0;    
    padding: 0;
    line-height: 2.5;
}

.footer-nav-social li:first-child {
    align-self: center;
    margin-right: 35px;
}

.footer-nav-social li:first-child > a {
    position: relative;
    font-size: 16px;
    font-weight: 700;
    z-index: 1;
}

.footer-nav-social li:first-child > a::before {
    pointer-events: none;
    content: '';
    position: absolute;
    top: -15px;
    left: -19px;
    background-color: #fbf138;
    box-shadow: 0px 13px 24px rgb(251 241 56 / 30%);
    padding: 15px;
    border-radius: 30px;
    z-index: -1;
}

.footer-nav-social li:nth-child(2) > a,
.footer-nav-social li:last-child > a{
    display: block;
    width: 27px;
    height: 27px;
    background-size: contain;
    background-repeat: no-repeat;
}

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 21px;
}

.copyright p {
    font-size: 14px;
    color: rgba(43, 53, 65, 0.3)
}

.copyright p > a {
    opacity: 0.3;
}

.copyright p > a:hover {
    opacity: 1;
}

.modalwin { 
    width: 500px;
    background: #F3F3F3;
    top: 20%; /* отступ сверху */
    right: 0;
    left: 0;
    font-size: 14px; 
    margin: 0 auto;
    z-index:2; /* поверх всех */
    display: none;  /* сначала невидим */
    position: fixed; /* фиксированное позиционирование, окно стабильно при прокрутке */
    padding: 60px 50px 80px;
    animation-name: modal;
    animation-duration: 1s
}

#shadow { 
    position: fixed;
    width:100%;
    height:100%;
    z-index:1; /* поверх всех  кроме окна*/
    background:#000;
    opacity: 0.3; /*прозрачность*/
    left:0;
    top:0;
    animation-name: shadow;
    animation-duration: 0.7s
}

.modal-close {
    width: 22px;
    height: 22px;
    background-color: transparent;
    background-image: url(../icons/close.svg);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal-box {
    width: 403px;    
    margin: 0 auto;
    margin-bottom: 40px;
    color: #2B3541;
}

.modal-title {
    position: relative;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 18px;
}

.modal-title::before {
    content: '';
    position: absolute;
    top: -31px;
    left: 22px;
    background-color: #fbf138;
    box-shadow: 0px 13px 24px rgb(251 241 56 / 30%);
    padding: 27px;
    border-radius: 30px;
    z-index: -1;
}

.modal-description {
    font-size: 18px;    
    line-height: 1.5;
}

.modal-form > input {
    display: block;
    padding: 23px 306px;
    padding-left: 17px;
    border: none;
}

input:focus {
    outline: none;
}

input:hover {    
    background: #F3F3F3;
    cursor: pointer;
}

.input-email.error,
.input-email-sub.error,
.input-tel.error {
    border: 1px solid #AE0303;
}

.input-email-error,
.input-tel-error {
    visibility: hidden;
    text-align: left;
    color: #AE0303;
    font-size: 14px;
    font-weight: 400;
    padding: 3px 0;
}

.input-tel-error {
    margin-bottom: 30px;
}

.modal-form-btn {
    padding: 23px 194px;
    border: none;
}