@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Montserrat';
}

p, h1, h2, h3 {
    color: #2B3541;
    padding: 0;
    margin: 0;  
}

a {
    color: #2B3541;
}

.wrap {
    max-width: 1920px;
    padding-left: 52.6px;
    padding-right: 33px;
    margin: 0 auto;
}

.container {
    max-width: 1140px;
    padding-left: 15px;
    /*padding-right: 15px;*/
    margin: 0 auto;
}

.header-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 51px 0px 27px;
}

.header-item a {
    text-decoration: none;
    color: #2B3541;
}

.header-logo {
    display: block;
    width: 97px;
    height: 30px;
    background-image: url(../logo.svg);
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 63.6%;   
    margin: 0;
}

.header-nav ul {
    display: flex;    
    list-style-type: none;
    padding: 0;
    
}

.header-links {   
    font-size: 18px;
    font-weight: 400;
    gap: 54px;    
    margin: 0;
}

.nav-social {
    display: flex;    
    list-style-type: none;
    gap: 30px;    
    margin: 0;    
    padding: 0;
}

.nav-social a {
    display: block;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
}

.nav-insta {    
    background-image: url(../icons/IN.svg);    
}

.nav-fb {
    background-image: url(../icons/FB.svg);
}

.wrapper {
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 30px;
    margin: 0 auto;
}

.bg {
    width: 1340px;
    background-image: url(../files/@1x/Image\ 1\ screen.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
    margin: 0 auto;
    margin-bottom: 162px;    
}

.bg > .container {
    margin: 0;
}

.bg-text {
    max-width: 676px;    
    padding-top: 227px;
    color: #2B3541;    
}

.bg-text-title {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 1.5px;
    margin-bottom: 44px;
}

.bg-text h2 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 23px;
}

.bg-text h2 > span {
    padding-right: 10px
}

.bg-description {
    width: 297px;    
    margin-left: 91px;
    padding-bottom: 261px;
    position: relative;
}

.bg-description p {    
    font-size: 18px;
    font-weight: 400; 
    line-height: 1.5;      
    margin-bottom: 58px;
}

.bg-description a {
    color: #2B3541;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #FBF138;
    padding: 23px 31px;
    letter-spacing: 0.5px;
    box-shadow: 0px 11px 28px -3px #fbf138;
}

.button-down {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

h3 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 42px;
}

.edvents-box {
    display: flex;
    height: 600px;
    justify-content: space-between;
    margin-bottom: 150px;
}

.box-item {
    position: relative;
    width: 367px;
    height: 100%;
}

.item-gradient {
    position: absolute;
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0) 100%);
    opacity: 0.3;
    z-index: 1;
}

.item-1 {
    background-image: url(../files/@1x/maraphon.png);
    background-size: cover;
}

.item-2 {
    background-image: url(../files/@1x/Vebinar\ 1.png);
    background-size: cover;
}

.item-3 {
    background-image: url(../files/@1x/Vebinar\ 2.png);
    background-size: cover;
}

.box-text {
    position: absolute;
    width: 260px;
    font-size: 28px;
    font-weight: 700;   
    margin-left: 30px;
    line-height: 1.2;
    z-index: 2;
}

.box-text span {
    display: block;    
    font-size: 18px;
    margin-top: 35px;
    margin-bottom: 22px;
    opacity: 0.6;
}

.edvents-name {
    position: absolute;
    background-color: #fbf138;
    font-size: 18px;
    font-weight: 400;
    padding: 13px 20px;
    bottom: 0px;
    right: 0px;
}

.item-1 > .edvents-name {
    bottom: 2px;
}